body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1, h2, h3 {
  color: #222;
}

p {
  margin-bottom: 1rem;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}


a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}