body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
td, th {
  padding: 8px;
  text-align: left;
}


h1, h2, h3 {
  color: #222;
}

p {
  margin-bottom: 25px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px;
}
