body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

table, th, td {
border: 1px solid white;border-collapse: collapse;
}
th, td {
background-color: #96D4D4;
}

h1, h2, h3 {
  color: #222;
}

p {
  margin-bottom: 25px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px;
}


a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}